.main {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    transition: .5s ease;
    background: url(/img/360_F_221694189_sviAaku45CJyLdNXQdOO6KNbpUCevG2e.jpg) no-repeat;
    background-size: cover;
    background-position: center unset;
    background-attachment: fixed;
    pointer-events: auto;

    &.active {
        filter: hue-rotate(90deg);
pointer-events: none;
    }

}